* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding: 1rem 0;
}

.card {
  margin: 1rem;
  padding: 1rem;
  height: 70vh;
}

.checkout_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.margin_tb {
  margin: 1rem 0;
}

.step {
  margin: 1rem 0;
}

.small_img {
width: 3rem;
}

.orderSummaryCard {
  height: auto;
}